<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
      <servlet>
    <servlet-name>sessioncheck</servlet-name>
    <servlet-class>tourexpense.Sessioncheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sessioncheck</servlet-name>
        <url-pattern>/sessioncheck</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>viewprofile</servlet-name>
    <servlet-class>tourexpense.Viewprofile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewprofile</servlet-name>
        <url-pattern>/viewprofile</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>tourexpense.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>back</servlet-name>
    <servlet-class>tourexpense.Back</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>back</servlet-name>
        <url-pattern>/back</url-pattern>
    </servlet-mapping>
</web-app>
